<center>
<img src="logo.png" height="900"> 
</center>


#  НесмУщённый и состоятельный записыватель курсов

__Это задание является дополнительным и необязательным для решения.__ 

Филипп записывает онлайн-курс по статистике. Он ориентируется на то, что каждая неделя курса должна идти около $100$ минут. В голове у Филиппа есть оцениватель времени. Он оценивает по длительности каждое видео и записыват свои прикидки на бумагу. Когда видео снято, Филипп смотрит как долго оно длилось и записывает итоговый результат на бумагу. В таблице `filipp_course.tsv` представлены записи Филиппа за $11$ отснятых недель. 

__Описание колонок:__

- `real_week` - хронологический номер недели
- `week` - какой по порядку записывалась неделя
- `type` - тип видео (доска, презентация, код)
- `estimate_time` - во сколько минут Филипп оценил время видео при разработке материала
- `real_time` - сколько реально длится это видео

In [54]:
import pandas as pd
import numpy as np

df = pd.read_csv("filipp_course.tsv", sep='\t')
print(df.shape)
df.head()

(129, 5)

   real_week  week          type  estimate_time  real_time
0          6     1    blackboard              6       11.0
1          6     1    blackboard             10        7.0
2          6     1    blackboard             10       11.5
3          6     1    blackboard              5        6.0
4          6     1  presentation              5        3.0

Будем считать, что на протяжении всей записи у Филиппа в голове был один и тот же оцениватель (estimator). По этому оценивателю Филипп делал точечные оценки для каждого видео независимо друг от друга. Давайте поисследуем оцениватель Филиппа на различные статистические свойства.

__а)__ Посчитайте разницу между `estimate_time` и `real_time`. Запишите её в новую колонку `bias`. Это то, насколько каждая оценка Филиппа оказалась смещена. Посчитайте среднее смещение, запишите его в переменную `bias_mean`. Проинтерпретируйте получившееся число. Правда ли, что Филипп делает несмещённые оценки?

In [55]:
df['bias'] = df.estimate_time - df.real_time
bias_mean = df.bias.mean()

In [56]:
bias_mean

-2.17906976744186

In [57]:
# проверка того, что задание решено верно (задание необязательно - все тесты открыты)
assert np.abs(bias_mean  + 2.179) < 1e-2

__б)__ Посчитайте среднее смещение, которое делает Филипп для каждого типа контента. Для какого типа смещение оказывается самым низким? Запишите его в переменную `bias_min`.

In [58]:
df.groupby('type').bias.mean().max()

-1.4775862068965515

In [59]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz
# will the code be with you

bias_min = df.groupby('type').bias.mean().max()

# your code here

In [60]:
# проверка того, что задание решено верно
assert bias_min  + 1.47 < 1e-2

__в)__ Посмотрим как оцениватель Филиппа ведёт себя в динамике. Посчитайте среднее смещение для каждой недели. Как оно ведёт себя в динамике? Правда ли, что оно постепенно сходится к нулю? Чем поведение смещения в динамике отличается от асимптотической несмещённости?

In [61]:
df.head()

   real_week  week          type  estimate_time  real_time  bias
0          6     1    blackboard              6       11.0  -5.0
1          6     1    blackboard             10        7.0   3.0
2          6     1    blackboard             10       11.5  -1.5
3          6     1    blackboard              5        6.0  -1.0
4          6     1  presentation              5        3.0   2.0

In [62]:
df.describe()

        real_week        week  estimate_time   real_time        bias
count  129.000000  129.000000     129.000000  129.000000  129.000000
mean     5.899225    5.844961       8.372093   10.551163   -2.179070
std      3.154473    3.185538       2.727378    3.222652    2.707619
min      1.000000    1.000000       0.000000    3.000000   -9.000000
25%      3.000000    3.000000       5.000000    8.000000   -4.000000
50%      6.000000    6.000000      10.000000   11.000000   -2.000000
75%      9.000000    9.000000      10.000000   13.000000   -0.200000
max     11.000000   11.000000      15.000000   16.000000    6.000000

In [63]:
df.groupby('real_week').bias.mean()

real_week
1    -3.328571
2    -2.200000
3    -2.272727
4    -2.200000
5    -1.727273
6    -1.950000
7    -1.558333
8    -1.300000
9    -3.150000
10   -1.000000
11   -3.000000
Name: bias, dtype: float64

In [64]:
df.groupby('week').bias.mean()

week
1    -1.950000
2    -1.558333
3    -1.727273
4    -1.300000
5    -3.150000
6    -3.328571
7    -3.000000
8    -1.000000
9    -2.200000
10   -2.272727
11   -2.200000
Name: bias, dtype: float64

__г)__ Несмещённость - это свойство при фиксированном $n$. Состоятельность - свойство при $n \to \infty$. Представим себе, что Филипп переосмыслил свою стратегию оценки времени, которое он тратит на запись видео. Теперь он хочет оценивать время на запись следующего видео как среднее, посчитанное по всем видео, записанным ранее.

_Например:_ Филипп записал три видео: 

- презентация 4 минуты
- презентация 1 минута
- доска 4 минуты

Тогда он оценить веремя на следующее видео как $\frac{4 + 1 + 4}{3} = 3$. Создайте в табличке колонку `new_estimate` с такми оценками. Время на первое видео он оценивает как $6$ минут. Посмотрите как себя ведёт такая оценка в динамике. Как думаете, к чему она сходится по вероятности? Какой физический смысл стоит за такой оценкой?

In [65]:
df['new_estimate'] = df.real_time.cumsum()/(df.index+1)

In [66]:
df.new_estimate = df.new_estimate.shift(1)

In [67]:
df.head()

   real_week  week          type  estimate_time  real_time  bias  new_estimate
0          6     1    blackboard              6       11.0  -5.0           NaN
1          6     1    blackboard             10        7.0   3.0     11.000000
2          6     1    blackboard             10       11.5  -1.5      9.000000
3          6     1    blackboard              5        6.0  -1.0      9.833333
4          6     1  presentation              5        3.0   2.0      8.875000

In [68]:
df.isna().sum()

real_week        0
week             0
type             0
estimate_time    0
real_time        0
bias             0
new_estimate     1
dtype: int64

In [69]:
df.fillna(6, inplace=True)

__д)__ Посчитайте для каждого видео смещение. По аналогии с пунктом __а)__ найдите среднее смещение. Запишите его в переменную `bias_mean_new`. Стало ли оно меньше благодаря новому оценивателю? Почему?

In [70]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz
# will the code be with you

bias_mean_new = (df.new_estimate - df.real_time).mean()
bias_mean_new

# your code here

-0.6094253748224449

In [71]:
# проверка того, что задание решено верно
assert np.abs(bias_mean_new  + 0.609) < 1e-2

__е)__ Как Филипп мог бы использовать полученную в этом задании информацию, __чтобы стать лучше__? Сформулируйте для Филиппа несколько дельных советов.